<footer class="footer py-3 mt-auto text-center engText fw-bold">
<div class="container">
    <span class="text-muted footnote">&copy <span id='year' class="text-muted footnote"></span> Pet Frontier</span>
</div>
</footer>